<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Banking App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container  *ngIf="AccountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/members" routerLinkActive="active">Matchs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ng-container>
         
        </ul>
        <div class="dropdown" *ngIf="(AccountService.currentUser$ | async) as userEntity" dropdown>
            <div class="btn btn-danger dropdown-toggle" dropdownToggle 
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{userEntity.userName}}
            </div>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a routerLink="/member/edit" class="dropdown-item" href="#">Edit Profile</a></li>
              <li><a class="dropdown-item" href="#" (click)="logout()" >Logout</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>
          
        <!-- <div class="dropdown" *ngIf="IsLogedIn">
            <a class="dropdown-toggle text-light">Welcome User</a>
            <div class="dropdown-menu"> 
                <div class="dropdown-item">Edit Profile</div>
                <div class="dropdown-item" (click)="logout()" >Logout</div>
            </div>
        </div> -->
        <form *ngIf="(AccountService.currentUser$ | async) === null" class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" >
          <input
          name="username"
          [(ngModel)]="loginmodule.username"
          class="form-control me-2" type="text" placeholder="username">
          <input 
          name="password"
          [(ngModel)]="loginmodule.password"
          class="form-control me-2" type="password" placeholder="password">
          <button class="btn btn-success"
           type="submit">Login</button>
        </form>
      </div>
   
  </nav>